Week_1_0/.gitignore
Week_1_0/hw1_1.py
Week_1_0/hw1.py
Week_1_0/hw2_1.py
Week_1_0/hw2.py
Week_1_0/hw3.py
Week_1_0/test_hw1.py
Week_1_0/test_hw2.py
Week_1_0/doc/HW1 - Strings joining.docx
Week_1_0/doc/HW2.docx
Week_1_0/doc/HW3 - Recipes.docx
